body {
color: orangered;
background-color: rgb(27, 27, 27);

}
h2{
    font-style: oblique;
    font-size: 24px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding-left: 1em;
padding-right: 1em;
}
main{
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
color: white;
padding-right: 1em;
padding-left: 1em;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 50px;
color: rgb(131, 109, 228);
padding-right: 1em;
padding-left: 1em;
text-align: center;
}

p:hover{
    transition: 300ms;
    transform: scale(1.60);
    color: blueviolet; 
}



h3:hover{
    transition: 300ms;
    transform: scale(1.30);
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
font-size: 16px;
padding-left: 1em;
padding-right: 1em;
text-align: center;
}

.cards-container{
    display: grid;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.397);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 5px;
}

.cards-container:hover{
box-shadow: 0px 0px 10px;
color: blue;
}

.card{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    transition-property: background-color, color, border;
    overflow: hidden;
}

.title-cards-container{
    font-size: 20px;
    text-align: center;
}

.card-title{
    font-size: 15px;
    text-align: center;
    color: white;
}

.card:hover{
    box-shadow: 0px 0px 10px;
    cursor: pointer;
}

@media(min-width: 720px){
    .cards-container{
        grid-template-columns: 1fr 1fr;
    }
    .title-cards-container{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}


@media(min-width: 992px){
    .cards-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .title-cards-container{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

.morodraw {
width: 380px;
height: 380px;
border-radius: 10px;

}

.brolydraw {
    width: 380px;
    height: 380px;
    border-radius: 10px;
}

.vegettodraw {
    width: 380px;
    height: 380px;
    border-radius: 10px;
}

.daimadraw {
    width: 380px;
    height: 380px;
    border-radius: 10px;
}

.namekdraw{
    width: 380px;
    height: 380px;
    border-radius: 10px;
    margin-top: 18px;
}

.blackgoku {
    width: 380px;
    height: 380px;
    border-radius: 10px;
    margin-top: 18px;
}

.gohanshallot {
    width: 380px;
    height: 380px;
    border-radius: 10px;
    margin-top: 18px;
}

.gokublue{
    width: 380px;
    height: 380px;
    border-radius: 10px;
    margin-top: 18px;
}


.artexamples{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}


.artexamples img{   
     transition: all 300ms;
    position: relative;
    width: 90%;
    height: 100%;
}

.artexamples img:hover {

transform: scale(1.05);

}

.mycontacttext{
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}